<h1>NgIf</h1>
<!-- Ẩn hiện component theo điều kiện -->
<!-- Nếu isVisible = true => p được hiển thị ra giao diện -->
<p *ngIf="isVisible">Hello CyberSoft</p>
<button (click)="isVisible = !isVisible">Toggle</button>

<!-- Kiểm tra isLoggedIn = true -->
<div *ngIf="isLoggedIn; else templateLogin">
  <p>Welcome</p>
  <button (click)="isLoggedIn = false">Logout</button>
</div>

<!-- Kiểm tra isLoggedIn = false -->
<!-- <div *ngIf="!isLoggedIn">
  <p>Please Login</p>
  <button (click)="isLoggedIn = true">Login</button>
</div> -->

<!-- Mặc định không được render ra UI -->
<!-- Nó chỉ được render ra khi mà có 1 lời gọi tới nó -->
<ng-template #templateLogin>
  <div>
    <p>Please Login</p>
    <button (click)="isLoggedIn = true">Login</button>
  </div>
</ng-template>

<h1>NgSwitch</h1>
<div [ngSwitch]="color">
  <p *ngSwitchCase="'red'">Red</p>
  <p *ngSwitchCase="'blue'">Blue</p>
  <p *ngSwitchCase="'yellow'">Yellow</p>
  <p *ngSwitchCase="'green'">Green</p>
  <p *ngSwitchDefault>Default</p>
</div>

<select [value]="color" (change)="color = $event.target.value">
  <option value="">---</option>
  <option value="red">Red</option>
  <option value="blue">Blue</option>
  <option value="green">Green</option>
  <option value="yellow">Yellow</option>
</select>

<h1>NgFor</h1>

<h3>Danh sách sinh viên</h3>
<p *ngFor="let sv of dssv; let idx = index; let total = count">
  {{ idx + 1 }}/{{ total }} - {{ sv.hoTen }} - {{ sv.lop }}
</p>

<h3>Danh sách học sinh</h3>
<!-- Muốn kiểm tra dshs khác null thì mới sử dụng ngFor -->
<!-- Nếu dssh null => ngIf không render ra -->
<div class="d-flex">
  <!-- 2 directives không thể cùng gắn trên 1 thẻ -->
  <!-- ng-container tương tự Fragment bên react -->
  <ng-container *ngIf="dshs">
    <p *ngFor="let hs of dshs; let idx = index">
      {{ idx + 1 }} - {{ hs.hoTen }} - {{ hs.lop }}
    </p>
  </ng-container>
</div>

<button (click)="layDSHS()">Lấy DSHS</button>


<!-- <div class="alert alert-primary">
  <strong>Alert</strong>
</div>

<div class="alert alert-primary">
  <strong>Alert</strong>
</div>

<div class="alert alert-primary">
  <strong>Alert</strong>
</div>

<div class="alert alert-primary">
  <strong>Alert</strong>
</div> -->

<!-- ngTemplateOutlet -->
<!-- Bỏ phần code muốn lặp lại trong ng-template -->
<ng-template #templateAlert>
  <div class="alert alert-primary">
    <strong>Alert</strong>
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="templateAlert"></ng-container>
<ng-container *ngTemplateOutlet="templateAlert"></ng-container>
<ng-container *ngTemplateOutlet="templateAlert"></ng-container>
<ng-container *ngTemplateOutlet="templateAlert"></ng-container>

<h1>NgContent</h1>
<app-card>
  <p slot="header">Header</p>
  <p slot="body">Body</p>
  <p slot="footer">Footer</p>

</app-card>

<app-card>
  <p slot="header">Cybersoft</p>
  <p slot="body">
    Khoá học FE
  </p>
  <p slot="footer">
    Lớp FE48
  </p>
</app-card>




















