<div class="card">
  <img class="card-img-top" [src]="product.imageUrl" alt="" />
  <div class="card-body">
    <h4 class="card-title">{{ product.name | uppercase }}</h4>
    <p class="card-text">{{ product.price | currency: "VND" }}</p>
    <p>{{ 0.5 | percent }}</p>
    <p>{{ "2020-10-30T16:45:27.78" | date: "dd-MM-yyyy hh:mm:ss" }}</p>
    <p>
      {{
        "Dòng iPhone 12 đi kèm các nâng cấp phần cứng hàng năm từ Apple, bao gồm
      chip A14 Bionic 5nm nhanh và tiết kiệm năng lượng hơn. Hiệu năng GPU và AI
      cũng được cải thiện cùng bộ nhớ trong lên đến 512 GB. Đối với dòng iPhone
      12, công ty dự kiến sẽ trang bị RAM 6 GB trên bản Pro."
          | shortcut: 70
      }}
    </p>
    <button class="btn btn-success" (click)="handleAddToCart()">
      Add to Cart
    </button>
  </div>
</div>
