<!-- <p class="demo">demo works!</p> -->

<!-- Interpolation -->
<p>
  {{ message }}
</p>

<!-- Property binding -->
<!-- <input type="text" value="message" /> -->
<input type="text" [value]="message" #messageRef />

<!-- Event binding -->
<button class="btn btn-success" (click)="changeMessage(messageRef)">
  Click
</button>

<br />
<p>{{ username }}</p>
<input type="text" [value]="username" (input)="changeUsername($event)" />

<br />
<p>{{ fullName }}</p>
<input
  type="text"
  [value]="fullName"
  (input)="fullName = $event.target.value"
/>

<!-- two-way binding -->
<br />
<p>{{ email }}</p>
<input type="text" [(ngModel)]="email" />
