<!-- <h1 class="demo">Hello angular</h1> -->

<!-- <app-demo></app-demo> -->

<!-- <app-header></app-header>
<div class="wrapper">
  <app-sidebar class="sidebar"></app-sidebar>
  <app-content class="content"></app-content>
</div>
<app-footer></app-footer> -->

<!-- <app-baitap2></app-baitap2> -->

<!-- <app-structural-directives></app-structural-directives> -->

<!-- <app-attribute-directives></app-attribute-directives> -->

<!-- <app-baitap6></app-baitap6> -->

<!-- <app-interaction></app-interaction> -->


<app-shoping></app-shoping>
